#REPLACE_WITH_EXPORT_HOME_ENV
export PATH="$HOME/.pyenv/bin:$HOME/.rbenv/bin:$HOME/bin:$PATH"
export NVM_DIR="$HOME/.nvm"
export EDITOR="vim"

if [ -f ~/.bashrc ]; then
  . ~/.bashrc
fi

# rbenv
eval "$(rbenv init -)"

# pyenv
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

# nvm
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
