# Adapted from default Ubuntu config
Protocol 2
UsePrivilegeSeparation yes
PermitRootLogin no
StrictModes yes
PermitUserEnvironment yes
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
RSAAuthentication yes
PubkeyAuthentication yes
IgnoreRhosts yes
X11Forwarding yes
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
AcceptEnv LANG LC_*
Subsystem	sftp /usr/lib/openssh/sftp-server
